In [1]:
import json, os, requests
import sasoptpy as so
import pandas as pd

DATA_DIR = os.path.join('..', 'data', 'fplreview')

In [2]:
# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
fpl_data = requests.get(base_url+'bootstrap-static/').json()

In [3]:
# load all players' projections
df = pd.read_csv(os.path.join(DATA_DIR, 'gw37.csv'))
df.columns = ['Pos', 'Name', 'BV', 'SV', 'Team', 'xMins', 'Pts']

# show top 5 projections
df.sort_values('Pts', ascending=False).head()

    Pos              Name    BV    SV       Team  xMins    Pts
253   M             Salah  12.8  12.7  Liverpool     73  6.771
387   F              Kane  11.8  11.8      Spurs     84  6.253
301   M         Fernandes  11.4  10.9    Man Utd     79  6.236
250   M              Mané  11.7  11.7  Liverpool     77  6.039
258   D  Alexander-Arnold   7.7   7.5  Liverpool     84  4.944

In [4]:
# positions
positions = pd.DataFrame(fpl_data['element_types'])
positions['Pos'] = positions['singular_name'].apply(lambda x: x[0])
positions.set_index('Pos', inplace=True)
positions = positions[['squad_select', 'squad_min_play' ,'squad_max_play']]

In [5]:
positions

     squad_select  squad_min_play  squad_max_play
Pos
G               2               1               1
D               5               3               5
M               5               2               5
F               3               1               3

In [6]:
players = df.index.tolist()
position_list = positions.index.tolist()
team_list = df['Team'].unique().tolist()

In [7]:
model = so.Model(name='single_period')

NOTE: Initialized model single_period.

## Variables

In [8]:
squad = model.add_variables(players, name='squad', vartype=so.binary)
lineup = model.add_variables(players, name='lineup', vartype=so.binary)
captain = model.add_variables(players, name='captain', vartype=so.binary)
vicecap = model.add_variables(players, name='vicecap', vartype=so.binary)

## Constraints

In [9]:
# 15 players in squad
squad_count = so.expr_sum(squad[p] for p in players)
model.add_constraint(squad_count == 15, name='squad_count');

# 11 players in starting lineup
model.add_constraint(
    so.expr_sum(lineup[p] for p in players) == 11, name='lineup_count'
)

# 1 captain
model.add_constraint(
    so.expr_sum(captain[p] for p in players) == 1, name='captain_count'
)

# 1 vice-captain
model.add_constraint(
    so.expr_sum(vicecap[p] for p in players) == 1, name='vicecap_count'
)

# players in starting lineup must also be in squad
model.add_constraints(
    (lineup[p] <= squad[p] for p in players), name='lineup_squad_rel'
)

# captain must come from within squad
model.add_constraints(
    (captain[p] <= lineup[p] for p in players), name='captain_lineup_rel'
)

# vice-captain must come from within squad
model.add_constraints(
    (vicecap[p] <= lineup[p] for p in players), name='vicecap_lineup_rel'
)

# captain and vice-captain can't be same person
model.add_constraints(
    (captain[p] + vicecap[p] <= 1 for p in players), name='cap_vc_rel'
);

In [10]:
# count of each player per position in starting lineup
lineup_type_count = {
    t: so.expr_sum(
        lineup[p] for p in players if df.loc[p, 'Pos'] == t
    ) for t in position_list
}

# count of all players in squad must be at least 'squad_min_play'
# and no more than 'squad_max_play' for each position type 
model.add_constraints(
    (lineup_type_count[t] == [
        positions.loc[t, 'squad_min_play'],
        positions.loc[t, 'squad_max_play']
    ] for t in position_list),
    name='valid_formation'
);

In [11]:
# count of each player per position in squad
squad_type_count = {
    t: so.expr_sum(
        squad[p] for p in players if df.loc[p, 'Pos'] == t
    ) for t in position_list
}

# count of all players in squad must be equal to 'squad_select'
# for each position type 
model.add_constraints(
    (squad_type_count[t] == positions.loc[t, 'squad_select'] for t in position_list),
    name='valid_squad'
);

In [12]:
# total value of squad cannot exceed 100
budget = 100
price = so.expr_sum(df.loc[p, 'BV'] * squad[p] for p in players)
model.add_constraint(price <= budget, name='budget_limit');

In [13]:
# no more than 3 players per team
model.add_constraints(
    (so.expr_sum(
        squad[p] for p in players if df.loc[p, 'Team'] == t
    ) <= 3 for t in team_list),
    name='team_limit'
);

## Optimisation function

In [14]:
# sum of starting 11 players, plus double captain score and upweight vice-captain
total_points = so.expr_sum(
    df.loc[p, 'Pts'] * (lineup[p] + captain[p] + 0.1 * vicecap[p]) for p in players
)

model.set_objective(-total_points, sense='N', name='total_xp');

In [15]:
model.export_mps('single_period.mps')

In [16]:
command = 'cbc single_period.mps solve solu solution_sp.txt'
!{command}

Welcome to the CBC MILP Solver
Version: devel
Build Date: Feb 26 2021

command line - cbc single_period.mps solve solu solution_sp.txt (default strategy 1)
At line 1 NAME     single_period
At line 2 ROWS
At line 2705 COLUMNS
At line 9376 RHS
At line 9727 RANGES
At line 9731 BOUNDS
At line 12400 ENDATA
Problem single_period has 2701 rows, 2668 columns and 10672 elements
Coin0008I single_period read with 0 errors
Continuous objective value is -62.419 - 0.01 seconds
Cgl0003I 0 fixed, 0 tightened bounds, 2001 strengthened rows, 0 substitutions
Cgl0004I processed model has 2033 rows, 2668 columns (2668 integer (2668 of which binary)) and 10669 elements
Coin3009W Conflict graph built in 0.009 seconds, density: 3.186%
Cgl0015I Clique Strengthening extended 0 cliques, 0 were dominated
Cbc0038I Initial state - 4 integers unsatisfied sum - 1.16129
Cbc0038I Solution found of -61.8523
Cbc0038I Before mini branch and bound, 2664 integers at bound fixed and 0 continuous
Cbc0038I Full problem 2033 rows 2668 columns, reduced to 0 rows 0 columns
Cbc0038I Mini branch and bound did not improve solution (0.11 seconds)
Cbc0038I Round again with cutoff of -61.9091
Cbc0038I Reduced cost fixing fixed 1743 variables on major pass 2
Cbc0038I Pass   1: suminf.    0.11631 (4) obj. -61.9091 iterations 18
Cbc0038I Pass   2: suminf.    1.41176 (4) obj. -62.1763 iterations 76
Cbc0038I Pass   3: suminf.    0.98690 (4) obj. -61.9091 iterations 44
Cbc0038I Pass   4: suminf.    0.81659 (6) obj. -61.9091 iterations 45
Cbc0038I Pass   5: suminf.    0.52903 (4) obj. -61.9091 iterations 41
Cbc0038I Pass   6: suminf.    0.58824 (4) obj. -61.9463 iterations 57
Cbc0038I Pass   7: suminf.    2.98327 (7) obj. -61.9091 iterations 52
Cbc0038I Pass   8: suminf.    0.30769 (4) obj. -62.0276 iterations 47
Cbc0038I Pass   9: suminf.    0.30769 (4) obj. -62.0276 iterations 0
Cbc0038I Pass  10: suminf.    1.19253 (5) obj. -61.9091 iterations 49
Cbc0038I Pass  11: suminf.    1.32270 (6) obj. -61.9091 iterations 20
Cbc0038I Pass  12: suminf.    0.43077 (4) obj. -61.9441 iterations 76
Cbc0038I Pass  13: suminf.    0.72254 (5) obj. -61.9091 iterations 51
Cbc0038I Pass  14: suminf.    1.32270 (6) obj. -61.9091 iterations 10
Cbc0038I Pass  15: suminf.    0.43077 (4) obj. -61.9441 iterations 54
Cbc0038I Pass  16: suminf.    0.72254 (5) obj. -61.9091 iterations 53
Cbc0038I Pass  17: suminf.    0.62687 (6) obj. -61.9576 iterations 83
Cbc0038I Pass  18: suminf.    0.62005 (8) obj. -61.9091 iterations 40
Cbc0038I Pass  19: suminf.    0.50016 (6) obj. -61.9091 iterations 13
Cbc0038I Pass  20: suminf.    1.15195 (6) obj. -61.9091 iterations 56
Cbc0038I Pass  21: suminf.    0.46291 (6) obj. -61.9091 iterations 45
Cbc0038I Pass  22: suminf.    0.43077 (4) obj. -61.9441 iterations 36
Cbc0038I Pass  23: suminf.    0.72254 (5) obj. -61.9091 iterations 55
Cbc0038I Pass  24: suminf.    1.26525 (6) obj. -61.9091 iterations 38
Cbc0038I Pass  25: suminf.    0.50016 (6) obj. -61.9091 iterations 43
Cbc0038I Pass  26: suminf.    1.15195 (6) obj. -61.9091 iterations 47
Cbc0038I Pass  27: suminf.    0.80202 (6) obj. -61.9091 iterations 26
Cbc0038I Pass  28: suminf.    0.50016 (6) obj. -61.9091 iterations 41
Cbc0038I Pass  29: suminf.    1.15195 (6) obj. -61.9091 iterations 45
Cbc0038I Pass  30: suminf.    1.28861 (10) obj. -61.9091 iterations 143
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 2612 integers at bound fixed and 0 continuous
Cbc0038I Full problem 2033 rows 2668 columns, reduced to 30 rows 43 columns
Cbc0038I Mini branch and bound improved solution from -61.8523 to -62.1403 (0.21 seconds)
Cbc0038I Round again with cutoff of -62.1961
Cbc0038I Reduced cost fixing fixed 2257 variables on major pass 3
Cbc0038I Pass  30: suminf.    0.70455 (4) obj. -62.1961 iterations 0
Cbc0038I Pass  31: suminf.    1.16129 (4) obj. -62.419 iterations 38
Cbc0038I Pass  32: suminf.    2.34246 (12) obj. -62.1961 iterations 42
Cbc0038I Pass  33: suminf.    1.09630 (10) obj. -62.1961 iterations 14
Cbc0038I Pass  34: suminf.    1.09677 (4) obj. -62.3875 iterations 29
Cbc0038I Pass  35: suminf.    0.70455 (4) obj. -62.1961 iterations 29
Cbc0038I Pass  36: suminf.    1.89147 (6) obj. -62.1961 iterations 19
Cbc0038I Pass  37: suminf.    1.66671 (8) obj. -62.1961 iterations 24
Cbc0038I Pass  38: suminf.    0.96774 (4) obj. -62.3246 iterations 27
Cbc0038I Pass  39: suminf.    0.70455 (4) obj. -62.1961 iterations 25
Cbc0038I Pass  40: suminf.    0.19004 (6) obj. -62.1961 iterations 6
Cbc0038I Pass  41: suminf.    0.11439 (4) obj. -62.1961 iterations 5
Cbc0038I Pass  42: suminf.    0.12903 (4) obj. -62.2033 iterations 30
Cbc0038I Pass  43: suminf.    0.19355 (4) obj. -62.2348 iterations 22
Cbc0038I Pass  44: suminf.    0.11439 (4) obj. -62.1961 iterations 40
Cbc0038I Pass  45: suminf.    0.19355 (4) obj. -62.2348 iterations 36
Cbc0038I Pass  46: suminf.    0.72787 (6) obj. -62.1961 iterations 25
Cbc0038I Pass  47: suminf.    1.07397 (6) obj. -62.1961 iterations 21
Cbc0038I Pass  48: suminf.    0.11787 (4) obj. -62.1961 iterations 16
Cbc0038I Pass  49: suminf.    0.25806 (4) obj. -62.2645 iterations 47
Cbc0038I Pass  50: suminf.    0.89985 (6) obj. -62.1961 iterations 37
Cbc0038I Pass  51: suminf.    0.11787 (4) obj. -62.1961 iterations 5
Cbc0038I Pass  52: suminf.    0.19355 (4) obj. -62.2331 iterations 48
Cbc0038I Pass  53: suminf.    0.70436 (6) obj. -62.1961 iterations 45
Cbc0038I Pass  54: suminf.    0.11787 (4) obj. -62.1961 iterations 4
Cbc0038I Pass  55: suminf.    0.19355 (4) obj. -62.2331 iterations 48
Cbc0038I Pass  56: suminf.    1.29232 (6) obj. -62.1961 iterations 52
Cbc0038I Pass  57: suminf.    0.66923 (6) obj. -62.1961 iterations 27
Cbc0038I Pass  58: suminf.    0.66923 (6) obj. -62.1961 iterations 3
Cbc0038I Pass  59: suminf.    0.25806 (4) obj. -62.2645 iterations 39
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 2626 integers at bound fixed and 0 continuous
Cbc0038I Full problem 2033 rows 2668 columns, reduced to 18 rows 27 columns
Cbc0038I Mini branch and bound did not improve solution (0.29 seconds)
Cbc0038I After 0.29 seconds - Feasibility pump exiting with objective of -62.1403 - took 0.20 seconds
Cbc0012I Integer solution of -62.1403 found by feasibility pump after 0 iterations and 0 nodes (0.29 seconds)
Cbc0038I Full problem 2033 rows 2668 columns, reduced to 6 rows 6 columns
Cbc0013I At root node, 0 cuts changed objective from -62.41901 to -62.41901 in 1 passes
Cbc0014I Cut generator 0 (Probing) - 0 row cuts average 0.0 elements, 10 column cuts (10 active)  in 0.002 seconds - new frequency is 1
Cbc0014I Cut generator 1 (Gomory) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 2 (Knapsack) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 4 (OddWheel) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.026 seconds - new frequency is -100
Cbc0014I Cut generator 5 (MixedIntegerRounding2) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 6 (FlowCover) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0016I Integer solution of -62.1723 found by strong branching after 16 iterations and 4 nodes (0.37 seconds)
Cbc0001I Search completed - best objective -62.1723, took 48 iterations and 8 nodes (0.38 seconds)
Cbc0032I Strong branching done 46 times (168 iterations), fathomed 4 nodes and fixed 0 variables
Cbc0035I Maximum depth 2, 3299 variables fixed on reduced cost
Cuts at root node changed objective from -62.419 to -62.419
Probing was tried 9 times and created 22 cuts of which 0 were active after adding rounds of cuts (0.005 seconds)
Gomory was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
Clique was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
OddWheel was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.026 seconds)
MixedIntegerRounding2 was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
FlowCover was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
ZeroHalf was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.002 seconds)

Result - Optimal solution found

Objective value:                -62.17230000
Enumerated nodes:               8
Total iterations:               48
Time (CPU seconds):             0.40
Time (Wallclock seconds):       0.40

Total time (CPU seconds):       0.41   (Wallclock seconds):       0.41

In [17]:
for v in model.get_variables():
    v.set_value(0)

In [18]:
with open('solution_sp.txt', 'r') as f:
    for line in f:
        if 'objective value' in line:
            continue
        words = line.split()
        var = model.get_variable(words[1])
        var.set_value(float(words[2]))

In [19]:
picks = []
for p in players:
    if squad[p].get_value() > 0.5:
        lp = df.loc[p]
        is_captain = 1 if captain[p].get_value() > 0.5 else 0
        is_lineup = 1 if lineup[p].get_value() > 0.5 else 0
        is_vice = 1 if vicecap[p].get_value() > 0.5 else 0
        picks.append([
            lp['Name'], lp['Pos'], lp['Team'], lp['BV'], round(lp['Pts'], 2), is_lineup, is_captain, is_vice
        ])

picks_df = pd.DataFrame(picks, columns=['name', 'pos', 'team', 'price', 'xP', 'lineup', 'captain', 'vicecaptain']).sort_values(by=['lineup', 'pos', 'xP'], ascending=[False, True, True])

In [20]:
picks_df

,name,pos,team,price,xP,lineup,captain,vicecaptain
8,Lindelöf,D,Man Utd,4.8,3.93,1,0,0
5,Robertson,D,Liverpool,7.1,4.57,1,0,0
6,Alexander-Arnold,D,Liverpool,7.7,4.94,1,0,0
12,Antonio,F,West Ham,6.5,4.56,1,0,0
3,Bamford,F,Leeds,6.5,4.88,1,0,0
10,Kane,F,Spurs,11.8,6.25,1,0,1
13,Mendy,G,Chelsea,5.2,3.99,1,0,0
14,Raphinha,M,Leeds,5.5,4.09,1,0,0
9,Saint-Maximin,M,Newcastle,5.1,4.56,1,0,0
7,Fernandes,M,Man Utd,11.4,6.24,1,0,0
4,Salah,M,Liverpool,12.8,6.77,1,1,0
1,Ferguson,D,Crystal Palace,3.8,0.00,0,0,0
2,Mitchell,D,Crystal Palace,3.8,1.96,0,0,0
0,Steer,G,Aston Villa,3.9,0.00,0,0,0
11,Burke,M,Sheffield Utd,4.1,2.30,0,0,0

In [28]:
picks_df.sum()

name           LindelöfRobertsonAlexander-ArnoldAntonioBamfor...
pos                                              DDDFFFGMMMMDDGM
team           Man UtdLiverpoolLiverpoolWest HamLeedsSpursChe...
price                                                        100
xP                                                         59.04
lineup                                                        11
captain                                                        1
vicecaptain                                                    1
dtype: object

In [22]:
total_xp = so.expr_sum(
    (lineup[p] + captain[p]) * df.loc[p, 'Pts'] for p in players
).get_value()
total_xp

61.547

In [23]:
price.get_value()

99.99999999999999