In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

# load player data
players = pd.json_normalize(
    requests.get(base_url+'bootstrap-static/').json()['elements']
)

players[['id', 'web_name', 'team', 'element_type']].head()

   id    web_name  team  element_type
0   1        Özil     1             3
1   2    Sokratis     1             2
2   3  David Luiz     1             2
3   4  Aubameyang     1             3
4   5      Cédric     1             2